@keyframes read-more__animate {
    0% {
        left: 0%;
    }

    50% {
        left: 90%;
    }

    100% {
        left: 0%;
    }
}


@keyframes underscore-menu__animate {
    0% {
        width: 0%;
    }

    100% {
        width: 100%;
    }
}